* { 
    font-family: 'Manrope', sans-serif;
}

.intro_div {
         text-align: center;
         image-resolution: 100px;
}

img {
    width: 200px;
    height: 190px;   }

.nav__div {
    color: whitesmoke;
    background: gray;
    text-align:
    
    
}


